:root {
    --main-text: #757575;
    --gray-text: #212121;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    color: var(--main-text);
}

div.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 25px 0;
}

.header-logo-web {
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
    margin-right: -5px;
}

.header-logo-studio {
    color: black;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
}

.navigation {
    color: var(--gray-text);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
}

.navigation-link {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
}

.navigation-link:hover,
.contact-link:hover {
    color: #2196F3;
}

.navigation-list {
    display: flex;
}

.navigation-list-item {
    margin-left: 50px;
}

.contact-block {
    display: flex;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
}

.contact-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.contact-list-item {
    margin-left: 50px;
}

.section-hero {
    padding: 200px 0;
    text-align: center;
    background-color: #2F303A;

}

.section-hero-title {
    color: white;
    font-size: 44px;
    font-family: Roboto;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 2.64px;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.section-hero-btn {
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    word-wrap: break-word;
    border: 0;
    padding: 10px 32px;
    border-radius: 5px;
}

.section-feature {
    padding: 94px 0;
}

.section-feature-list {
    display: flex;
    column-gap: 30px;
}

.section-feature-title {
    color: var(--gray-text);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    word-wrap: break-word;
    line-height: 1.17;
    margin-bottom: 10px;
}

.section-feature-text {

    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
}

.section-team {
    padding: 94px 0;
    background-color: #F5F4FA;
}

.section-box {
    padding-bottom: 94px;
}

.section-box .container,
.section-team .container {
    text-align: center;
}

.section-box-list {
    display: flex;
    justify-content: space-between;
}

.section-team-list {
    display: flex;
    justify-content: space-between;
}

.section-team-list-item {
    background-color: #FFF;
    padding-bottom: 32px;
}

.section-box-title,
.section-team-title {
    color: var(--gray-text);
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 1.08px;
    word-wrap: break-word;
    margin-bottom: 50px;
}

.section-team-item-title {
    color: var(--gray-text);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.48px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.section-team-img {
    margin-bottom: 30px;
}

.section-team-text {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.48px;
    word-wrap: break-word;
}


.footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo-web {
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
    margin-right: -5px;
}

.footer-logo-studio {
    color: white;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
}


.footer-text {
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
}

























section:first-child button {
    background-color: #2196F3;
    color: #FFFFFF;
}